[Unit]
Description=Maubot
After=matrix-synapse.service

[Service]
Type=simple
WorkingDirectory=/home/rcj/maubot
ExecStart=/home/rcj/maubot/bin/python3 -m maubot

Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=maubot

PermissionsStartOnly=true
LimitNOFILE=4096
IgnoreSIGPIPE=false
User=rcj

[Install]
WantedBy=multi-user.target

